.webhosting__container {
  background-image: url("https://www.kitkatsoftwaretechnologies.com/images/img15.jpg");
  position: relative;
  background-position: 50%;
  background-size: cover;
  z-index: 1;
  background-repeat: no-repeat;
  height: 450px;
  /* background-attachment: fixed; */
}

.webhosting__container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.77;
}

.webhosting__title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.webhosting__title h3 {
  font-size: 50px;
}

.webhosting__title ul {
  margin-top: 1rem;
}
.webhosting__title ul li {
  display: inline-block;
  padding: 0 5px;
}

.webhosting__title a {
  color: #fff;
}

.webhosting__title a:hover {
  color: #086ad8;
}

.webhosting__content {
  max-width: 1140px;
  margin: auto;
  text-align: center;
  padding: 4rem 0;
}

.webhosting__content h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.webhosting__content p {
  text-align: justify;
  text-indent: 5%;
  line-height: 2;
}

.webhosting__content p p {
  margin-top: 2rem;
}

.webhost__img img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .webhosting__content {
    margin: 0 1rem;
  }
  .webhosting__title h3 {
    font-size: 30px;
  }

  .webhosting__title li,
  a,
  .webhosting__content p {
    font-size: 14px;
  }

  .webhosting__content h1 {
    font-size: 22px;
  }
}
