.minibank__container {
  background-image: url("https://res.cloudinary.com/denokpulg/image/upload/v1660747629/banking-and-financial-bg_1_eigo80.jpg");
  position: relative;
  background-position: 50%;
  background-size: cover;
  z-index: 1;
  background-repeat: no-repeat;
  height: 450px;
  /* background-attachment: fixed; */
}

.minibank__container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.77;
}

.minibank__title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.minibank__title h3 {
  font-size: 50px;
}

.minibank__title ul {
  margin-top: 1rem;
}
.minibank__title ul li {
  display: inline-block;
  padding: 0 5px;
}

.minibank__title a {
  color: #fff;
}

.minibank__title a:hover {
  color: #086ad8;
}
.banking {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .minibank__title h3 {
    font-size: 30px;
  }

  .banking {
    width: 92%;
  }
}
