/* Base */
.container {
  margin: 0 30px;
}

/* Normal */

.header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 2000;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
}

.header__logo {
  flex: 0.3;
}
.header__logo > a > img {
  width: 170px;
}

.header__list {
  flex: 0.6;
}

.header__list > ul {
  display: flex;
  justify-content: space-between;
}

.header__list > ul > li > a {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #212121;
  padding: 5px 10px;
  transition: 0.4s ease;
  border-radius: 70px;
}

.header__list > ul > li > a:hover {
  color: #086ad8;
}

.header__list > ul > li > a.active__link {
  background-color: #3895ff;
  border-radius: 70px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header__logo > img {
    width: 140px;
  }
  .header__list {
    display: none;
  }
}
