.footer {
  background-color: #f5f3f3;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  color: #212121;
  padding: 2rem 0;
}

.footer__product h2,
.footer__service h2,
.footer__contact h2,
.footer__socialinks h2 {
  font-weight: 600;
  padding-bottom: 15px;
  font-size: 22px;
}

.footer__product ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.footer__service ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.footer__product ul li a,
.footer__service ul li a,
.footer__contact p {
  color: #212121;
  font-size: 13px;
  font-weight: 500;
}

.footer__product ul li a:hover,
.footer__service ul li a:hover {
  color: #437bf5;
}

.links {
  display: flex;
  /* column-gap: 5px; */
  column-gap: 5px;
  align-items: center;
}

.link__circle {
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}

.links .icon {
  color: blue;
  padding: 2px 6.5px;
}

.footer__copy {
  text-align: center;
  padding: 20px 0;
}

.footer__copy p {
  font-size: 14px;
  color: #000;
}

/* mobile screen
 */
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    row-gap: 2rem;
    margin: 0 1rem;
  }
  .footer__copy p {
    font-size: 12px;
    padding: 20px 10px;
  }
}
