.crmdev__container {
  background-image: url("https://www.kitkatsoftwaretechnologies.com/images/img27.jpg");
  position: relative;
  background-position: 50%;
  background-size: cover;
  z-index: 1;
  background-repeat: no-repeat;
  height: 450px;
  /* background-attachment: fixed; */
  list-style-type: visible;
}

.crmdev__container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.77;
}

.crmdev__title {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.crmdev__title h3 {
  font-size: 50px;
}

.crmdev__title ul {
  margin-top: 1rem;
}
.crmdev__title ul li {
  display: inline-block;
  padding: 0 5px;
}

.crmdev__title a {
  color: #fff;
}

.crmdev__title a:hover {
  color: #086ad8;
}

.crmdev__content {
  max-width: 1140px;
  margin: auto;
  text-align: center;
  padding: 4rem 0;
}

.crmdev__content h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.crmdev__content p {
  text-align: justify;
  text-indent: 5%;
  line-height: 2;
  padding-bottom: 2rem;
}

.crmdev__content p p {
  margin-top: 2rem;
}

.android__img img {
  width: 100%;
}

.android__img h3 {
  margin-bottom: 2rem;
  text-align: left;
}

.crmdev__content ul {
  text-align: left;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
.crmdev__content ul li {
  list-style-type: disc;
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .crmdev__content {
    margin: 0 1rem;
  }
  .crmdev__title h3 {
    font-size: 30px;
  }

  .crmdev__content h1 {
    font-size: 22px;
  }

  .crmdev__content p {
    font-size: 14px;
  }
}
